@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-bg: #1f242d;
  --text-color: #fff;
  --highlight-text: #7cf03d;
  --border-color: var(--highlight-text);
  --mix-blend-mode: lighten;
}
[data-theme="light"] {
  --primary-bg: #f8f9fa;
  --text-color: #000000;
  --highlight-text: #7cf03d;
  --border-color: var(--highlight-text);
  --mix-blend-mode: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

a {
  color: var(--text-color);
  text-decoration: none;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 35px;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.navbar ul li:hover a,
.active a {
  color: var(--highlight-text);
}

.home {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 60px 9% 0;
  color: var(--text-color);
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  display: inline-block;
  font-size: 32px;
  margin-top: -10px;
}
.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--highlight-text);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid var(--border-color);
  color: var(--highlight-text);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}

.home-info .btn-sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--highlight-text);
  border: 2px solid var(--border-color);
  border-radius: 40px;
  box-shadow: 0 0 10px var(--border-color);
  font-size: 16px;
  color: var(--primary-bg);
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: var(--highlight-text);
  box-shadow: none;
}

.home-info .btn-sci .sci {
  margin-left: 20px;
}

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid var(--border-color); /* Fixed invalid color */
  border-radius: 50%; /* Added 'px' to make it valid */
  font-size: 20px;
  color: var(--highlight-text);
  margin: 0 8px;
  transition: 0.5s; /* Fixed incorrect transition syntax */
}

.home-info .btn-sci .sci a:hover {
  background: var(--highlight-text); /* Fixed invalid color */
  color: var(--primary-bg);
  box-shadow: 0px 0px 10px var(--border-color); /* Fixed box-shadow syntax */
}

.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  /* background: red;  */
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--border-color)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--primary-bg);
  border-radius: 50%;
  border: 0.1px solid var(--primary-bg);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;
  top: 30px;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: var(--mix-blend-mode);
}

/* Here is new thing to add bar animation */

.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: var(--primary-bg);
  /* border: 2px solid red; */
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 480px) {
  .home {
    flex-wrap: wrap;
  }
}
